
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    }

  #btn-menu {
    display: none;
  }
  
  header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  .menu ul {
    background: black;
    display: flex;
    list-style: none;
  }
  
  .menu ul ul {
    display: none;
  }
  
  .menu a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
  }
  
  .menu a:hover {
    background: #2b1896;
  }
  
  .menu a i {
    margin-left: 10px;
  }
  
  .menu ul li:hover ul {
    transition: all 0.3s ease;
    display: block;
    position: absolute;
  }
  
  @media (max-width: 900px) {
    header label {
      display: block;
      padding-top: 16px;
      padding-right: 16px;
      transition: all 0.4s ease;
    }
    
    .menu {
      position: fixed;
      top: 64px;
      left: 900;
      width: 250px;
      transform: translateX(900px);
      z-index: 2;
    }
    
    .menu ul {
      flex-direction: column;
      display: block;
    }
    
    .menu ul li:hover ul {
      display: none;
      position: static;
    }
    
    .menu a i {
      position: absolute;
      right: 16px;
      line-height: 32px;
    }
    
    #btn-menu:checked ~ .menu {
      transform: translateX(0px);
      transition: all 0.4s ease-in-out;
    }
  }